 *{
    margin: 0%;     
    padding: 0%;
}
nav{
    justify-content: center;
    text-align: center;
    display: flex;
    text-transform: uppercase;
     font-size: 36px;
     font-family:'Courier New', Courier, monospace;
    background-color: rgb(59, 59, 59);
    color: rgb(194, 182, 164);
    text-shadow: 2px,2px rgb(185, 179, 169);
 }

.logo img{
    width: 50px;
  }
 .main{
      width: 60vw;
     margin: auto;
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.toolbar-item button{
    margin: 15px,20px !important;
    margin: 15px !important;
    background-color: #f1eeee !important;
    color: #00bcd4 !important;
    text-shadow: 2px solid #00bcd4 !important;
    padding: 7px 25px !important;
    /* box-shadow: 0 5px white; */
    border-radius: 36px !important;
    border: skyblue !important;
    border: 2px solid white;
}

.search{
    float: right;
    margin: 6px;
    padding: 8px;
    border-radius: 36px;
}